<!-- <div id="#top"></div> -->
    <section id="home">
        <div class="banner-container">
            <img ng-src="{{image}}" alt="banner" />
            <div class="container banner-content">
                <div id="da-slider" class="da-slider">
                        <div class="da-slide" ng-repeat="slide in slides">
                                <h2>{{slide.profession}}</h2>
                                <p>{{slide.description}}</p>
                                <div class="da-img"></div>
                <!--  <nav class="da-arrows">
                        <span class="da-arrows-prev"></span>
                        <span class="da-arrows-next"></span>
                    </nav> -->
                        </div>  
            </div>
        </div>
    </section>
    <section id="introText">
        <div class="container">
            <div class="text-center">
            <h1>I create beautiful responsive websites, Yes I am a UX geek</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse interdum erat et neque tincidunt volutpat. Cras eget augue id dui varius pretium. Cras posuere dolor risus. Pellentesque elementum ultricies quam, sit amet rhoncus nisl viverra in. Cras imperdiet nisi a euismod molestie. Ut a metus arcu. Pellentesque feugiat dictum erat. Nulla vehicula condimentum purus, quis imperdiet nisl ultricies eleifend. Nulla quis rhoncus risus. Ut vel vehicula urna.</p>
            </div>
        </div>
    </section>
